/***********************About Section ***********************/
#about-section-container {
    display: flex;
    flex-direction: column;
}

#code-background {
    width: 100%;
    top: 0;
    bottom: 0;
    position: absolute; 
    background-image: url("images/code_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    filter: blur(5px);
}

#eric-spidle {
    border-color: #1E3E62;
    border-radius: 200px;
    position: relative;
    z-index: 1;
    height: 70%;
    max-height: 330px;
    max-width: 330px;
}

#big-dl-resume {
    background-color: #FF6500;
    border-radius: 0.4em;
    font-size: 17px;
    padding: 1em;
    font-family: "Fira Code", serif;
}

#big-dl-resume:hover {
    background-color: #1E3E62;
    cursor: pointer;
}

.about-text {
    font-family: "Josefin Sans", serif;
    font-weight: 600;
    font-size: 2.8vh;
    font-style: normal;
    margin-left: 2vw; 
    margin-right: 2vw;
    height: 40vh;
}

.about-intro {
    font-family: "Josefin Sans", serif;
    font-weight: 400;
    font-size: 4rem;
    font-style: normal;
    postion: relative;
    z-index: 2;
}

.photo-container {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1px;
    height: 50vh;
    width:100%; 
}

.download-container {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
}

/*********************** Nav Bar ***********************/
#portfolio-nav-container {
    background-color: #FF6500;
    height: 6vh;
    width: 100%;
    postion: relative;
}

#portfolio-nav {
    display: flex;
    position: relative;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
    width: 100%;
    height: 100%;
}

#portfolio-nav-banner {
    position: absolute;
    left: 20px;
    z-index: 2;
    font-size: 24px;
    font-family: "Fira Code", serif;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #0B192C;
}

.portfolio-nav-item {
    font-family: "Josefin Sans", serif;
    font-size: 1.3rem;
    top-margin: 100px;
}

/*********************** Portfolio Section ***********************/
#portfolio-section {
}
#active-tab {
    background-color: #FF6500;
}

.portfolio-tab-header{
    display: flex;
    gap: 1.5rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.portfolio-tab:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.portfolio-tab {
    background-color: #030712;
    color: white;
    font-family: "Fira Code", serif;
    font-size: 24px;
    padding: 0.5em;

}

.portfolio-tab-content {
    height: 60vh;
    background-color: #030712;
    overflow: scroll;
}

.filler {
    height: 10vh;
    background-color: #0B192C;
}

/*********************** Contact Section ***********************/
#send-message {
    background-color: #FF6500;
    font-size: 20px;
    padding: 0.65em;
    margin-top: 1rem;
    margin-bottom: 3rem;
    position: absolute;
    border-radius: 1em;
    left: 62%;
    bottom: 0;
    z-index: 2;
}

#send-message:hover {
    background-color: #1E3E62;
}
.contact-buttons {
    position: absolute;
    left: 35%;
    bottom: 5%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contact-form-container {
    display: flex;
    font-family: "Josefin Sans", serif;
    background-color: #030712;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    position: relative;

}

.contact-form {
    width: 30vw;
    margin-top: 5vh;
    margin-bottom: 15vh;
}
.contact-form input, .contact-form textarea  {
    background-color: #0B192C;
    border: 1px solid #ff6500;
    border-radius: 1rem;
    padding: 5px;
}

.form-input-field {
    display: flex; 
    flex-direction: column;
}
/*********************** Blog Section ***********************/
#blogs-container {
    background-color: #030712;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /*grid-column-gap: 20px; */
    place-content: center;
    padding: 1em;

}

#blogs-container a {
    place-self: center;
}
.blogentry {
    font-family: "Fira Code", serif;
    display: flex;
    background-color: #0B192C;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 24vw;
    height: auto;
    margin: 5%;
    border: 5px solid black;
}

.blog-preview-image {
    height: 100%;
    width: 100%;  
}
.blog-preview-image img {
    width: 415px;
    height: 300px;
    object-fit: cover;
    border-bottom: 5px solid black;
}

.blog-title {    
    font-size: 3.5vh;
    font-weight: 700;
    margin-top: 0.25em;
    font-style: italic;
    padding: 0.5em;
    height: 10vh;
}

.blog-desc {
    font-size: 2.25vh;
    margin-top: 1vh;
    padding: 1em;
    height: 15vh;
}


/*********************** Contributions ***********************/

/*********************** General/Misc ***********************/
body {
    height: 1000vh;
}

.portfolio-header {
    font-size: 3rem;
    font-family: "Josefin Sans", serif;
    text-decoration: underline;
    text-decoration-color: #FF6500;
    font-weight: 600;
    font-style: bold;
    margin-top: 20px;
}

.section-common {
    background-color: #0B192C;
    font-size: 24px;
    font-style: normal;
    
}
.section-text-common {
    margin-left: 1vw; 
    margin-right: 1vw;

}
