/*********************** General/Misc ***********************/

:root {
    --bg-color: #0B192C;
    --secondary-bg-color: #030712;
    --accent-color: #FF6500;
    --smooth-font: "Josefin Sans";
    --sharp-font: "Fira Code";
    --lg-screen-rem: 24px;
    --med-screen-rem: 16px;
    --sm-screen-rem: 12px;
}

.clickable:hover {
    cursor: pointer;
}

.portfolio-header {
    font-size: 3rem;
    font-family: var(--smooth-font), serif;
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    font-weight: 600;
    font-style: bold;
    margin-top: 0.8rem;
}

.section-common {
    background-color: var(--bg-color);
    font-size: 1.25rem;
    font-style: normal;
}

.section-text-common {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

html {
    font-size: var(--lg-screen-rem);
    scroll-padding-top: 4rem; /*Account for navbar height and add a little more*/
}

.name-primary {
    color: var(--accent-color);
    background-color: var(--bg-color);
    transition: background-color 5s ease, color 5s ease;
    /*transition: background-color 5s ease;*/
}
.name-secondary {
    color: var(--secondary-bg-color);
    background-color: var(--accent-color);
    transition: background-color 5s ease, color 5s ease;
}

/***********************About Section ***********************/
#about-section-container {
    display: flex;
    flex-direction: column;
}

#code-background {
    width: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    background-image: url("images/code_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    filter: blur(5px);
}

#eric-spidle {
    border-color: #1E3E62;
    border-radius: 8rem;
    position: relative;
    z-index: 1;
    min-height: 15rem;
    max-width: 15rem;
}

#big-dl-resume {
    background-color: var(--accent-color);
    border-radius: 0.4em;
    min-height: 3em;
    width: 12em;
    font-size: 0.9rem;
    margin-top: 2rem;
    font-family: var(--sharp-font), serif;
}

#big-dl-resume:hover {
    background-color: #1E3E62;
}

.about-text {
    font-family: var(--smooth-font), serif;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
}

.about-text p {
    max-width: 75ch;
    align-self: center;
}

.about-intro {
    font-family: var(--smooth-font), serif;
    font-weight: 400;
    font-size: 4rem;
    font-style: normal;
    postion: relative;
    z-index: 2;
}

.photo-container {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1px;
    min-height: 50vh;
    max-width:100%;
}

.download-container {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
}

/*********************** Nav Bar ***********************/
#portfolio-nav-container {
    background-color: var(--accent-color);
    min-height: 3.5rem;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 3;
    justify-content: space-between;
    align-items: center;
}

#portfolio-nav {
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    align-items: center;
}

#portfolio-nav-banner {
    margin-left: 1rem;
    font-family: var(--sharp-font), serif;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: var(--bg-color);
}

.portfolio-nav-item {
    font-family: var(--smooth-font), serif;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.portfolio-nav-item:hover {
    transform: scale(1.05);
}
.hamburger-toggle {
    display: none;
}

.port-projects {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
}

.project-header-text {
    font-size: 1.25em;
    margin-bottom: 1em;
}

.project-card-image {
    width: 50%;
    margin: 0.5em;
    height: 50%;
}

.project-card-title {
    font-size: 1.75rem;
    font-family: var(--smooth-font), serif;
    margin: 0.25em;
    overflow: hidden;
    padding: 0.5em;
    min-height: 5em;
    text-align: center;
}

.port-project-tag {
    font-size: 0.5em;
    width: 5em;
    border-radius: 1em;
    margin: 0.5em;
    text-align: center;
}

.project-modal-overlay {
    position:fixed;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px); /* Apply blur to the background */
}

.project-modal {
    background-color: var(--bg-color);
    max-width: 70%;
    max-height: 80vh;
    padding: 1em;
    font-size: 1.1rem;
    border: 0.25em solid black;
}

.project-modal-header{
    display: flex;
    gap: 2em;
    justify-content: space-between;
}
.project-modal-tabs{
    display: flex;
    gap: 2em;
}

.modal-close {
    font-size: 1.5em;
    margin: 0.10em;
    margin-right: 0.5em;
}

.modal-project-title {
    font-size: 2.5em;
    text-align: start;
    font-style: italic;
    font-family: var(--smooth-font), serif;
}
.modal-content {
    display: flex;
    gap: 0.25em;
    padding: 0.25em;
}
.modal-about {
    display: flex;
    gap: 0.25em;
    padding: 0.25em;
}

.project-modal-tabs p{
    color: white;
    font-size: 1.1em;
    font-family: var(--sharp-font);
    text-decoration: underline;
    padding: 0.5em;
    background-color: var(--secondary-bg-color);
}

.port-project-card {
    border: solid 0.33em black;
    border-radius: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    min-width: 10em;
    margin: 1em;
}

.modal-project-desc {
    font-size: 0.8em;
    max-width: 50ch;
    margin-right: 1.5em;
    align-self: center;
}

.modal-preview-img{
    width: 20rem;
    height: 15rem;
    object-fit: contain;
    align-self: center;
}

.project-card-footer {
    display: flex;
    align-self: flex-start;
    left-margin: 0.5em;
}

/*********************** Portfolio Section ***********************/
#portfolio-section {
}
#active-tab {
    color: var(--accent-color);
}

.portfolio-tab-header{
    display: flex;
    gap: 1.5rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.portfolio-tab:hover {
    transform: scale(1.05);
}

.portfolio-tab {
    background-color: var(--secondary-bg-color);
    color: white;
    font-family: var(--sharp-font), serif;
    font-size: 1rem;
    padding: 0.5em;

}

.portfolio-tab-content {
    background-color: var(--secondary-bg-color);
    overflow: scroll;
}

.filler {
    height: 10vh;
    background-color: var(--bg-color);
}
.secondary-filler {
    height: 5vh;
    background-color: var(--secondary-bg-color);
}

.tech-experience {
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.tech-grid {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(6, 8em);
    justify-items: center;
    row-gap: 1em;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 5em;
    margin-top: 1em;
}
.tech-photo {
    width: 3.5rem;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) contrast(80%);
    align-self: center;
}

.tech-photo:hover {
   -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
   filter: grayscale(0%) contrast(100%);
   transition: all 0.3s ease;
}

.color-in-logo {
    filter: grayscale(0%) contrast(100%);
    transition: all 0.5s ease;
}

.tech-header {
    align-self: flex-start;
}

.tech-selector {
    font-family: Fira Code;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: var(--bg-color);
}

.tech-highlight {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

/*********************** Contact Section ***********************/
#send-message {
    background-color: var(--accent-color);
    font-size: 1rem;
    padding: 0.65em;
    margin-top: 1em;
    max-height: min(50%, 1em);
    margin-bottom: 1.5em;
    border-radius: 1em;
}

#send-message:hover {
    background-color: #1E3E62;
}
.contact-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.9rem;
    margin: auto;
}

.contact-form-container {
    display: flex;
    font-family: var(--smooth-font), serif;
    background-color: var(--secondary-bg-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form {
    max-width: 50rem;
    width: max(15em, 35%);
    height: auto;
    min-height: clamp(10em, 60%, 35em);
    margin-top: 3rem;
    margin-bottom: min(3rem, 5%);
}
.contact-form input, .contact-form textarea {
    background-color: var(--bg-color);
    border: 1px solid #ff6500;
    border-radius: 1rem;
    padding: 0.5em;
    margin-bottom: 0.5rem;
}

.contact-form textarea {
    min-height: 10rem;
}

.form-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    margin-bottom: 1.5em;
}

.form-input-field {
    display: flex;
    flex-direction: column;
}
/*********************** Blog Section ***********************/
#blogs-container {
    background-color: var(--secondary-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-content: center;
    padding: 1em;
    min-height: 10em;

}

#blogs-container a {
    place-self: center;
}

#blogs-carousel {
    display: none;
}
.blogentry {
    font-family: var(--sharp-font), serif;
    display: flex;
    background-color: var(--bg-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 20rem;
    margin: 1rem;
    /*border: 2px solid var(--accent-color);*/
    text-align: center;
    border-radius: 0.5em;
    transition: all 0.3s ease;
}

.blogentry:hover {
    transform: scale(1.05);
}

.caro-button {
    font-family: var(--sharp-font), serif;
    text-align: center;
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: var(--accent-color);
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caro-button:hover {
    background-color: #1E3E62;
    color: var(--accent-color);
}

.blog-preview-image img {
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    border-bottom: 0.25em solid var(--secondary-bg-color);
    border-radius: 0.5em;
}

.blog-title {
    font-size: 1rem;
    font-style: italic;
    text-decoration: underline;
    font-weight: 700;
    min-height: 1rem;
}

.blog-desc {
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-size: 0.8em;
    min-height: 8em;
}

.caro-counter {
    color: lightgrey;
    align-self: flex-end;
    margin-right: 0.5em;
    font-size: 0.75em;
}

/*********************** Contributions ***********************/
#contributions-section {
    font-family: var(--smooth-font), serif;
}

#contributions {
    display: grid;
    grid-template-columns: repeat(3, 12em);
    background-color: var(--secondary-bg-color);
    justify-content: space-evenly;
}

.feature {
    padding: 2vh;
    margin: 1em;
    min-height: 15em;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    background-color: var(--bg-color);
}

.feature-color {
    width: 2.5em;
    min-height: 2.5em;
    border-radius: 100em;
    margin-bottom: 1em;
}

.feature-learn-more {
    font-size: 0.6em;
    padding: 0.50em;
    margin: 0.5em;
    border-radius: 1em;
    background-color: var(--accent-color);
}

.commit-count {
    font-size: 0.75rem;
    background-color: var(--secondary-bg-color);
    padding: 0.5em;
    margin: 1em;
}

.commit {
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-bottom: 0.5em;
    font-family: var(--sharp-font), monospace;
}

.commit-img {
    max-width: 1em;
}

.commit-sha{
    display: flex;
}

.contribute-modal-body {
    padding: 0.5em;
}

.contribute-modal-commits {
    min-height: 50%;
    background-color: var(--secondary-bg-color);
}

.feature-title {
    font-size: 1.33rem;
    display: flex;
    text-decoration: underline;
    text-decoration-color: white;
    margin-left: 2vw;
    display-direction: column;
    gap: 20px;
    padding: 1vh;
    margin-bottom: 1em;
}

.info-icon {
    position: relative;
    margin-top: 2px;
    vertical-center: sub;
}

.info-icon:hover:after {
    font-size: 12px;
    position: absolute;
    display: inline-block;
    content: attr(feature-about);
    left: 35px;
    top: 0px;
    width: 15vw;
    padding: 5px;
    background-color: black;
    color: white;
}


@media screen and (max-width: 1800px) {
    .port-projects{
            grid-template-columns: repeat(3, 1fr);
        }
}

@media screen and (max-width: 1500px) {
    .modal-content {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 1000px) {
    html {
        font-size: var(--med-screen-rem);
    }
    .photo-container {
        flex-direction: column-reverse;
        gap: 0px;

    }

    .portfolio-nav-item {
        display: none;
    }

    .form-footer {
        flex-direction: column-reverse;
        gap: 0em;
    }

    #blogs-container {
        display: none;
    }

    #blogs-carousel {
       display: block;
       background-color: var(--secondary-bg-color);
        padding: 1em;
        min-height: 10em;
    }

    .section-text-common {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .hamburger-toggle {
        display: block;
        position: static;
    }

    .hamburger-menu {
        display: flex; /* Hide menu items by default */
        font-family: var(--sharp-font), serif;
        text-align: center;
        position: absolute;
        background-color: var(--accent-color);
        top: 3.5em;
        padding: 1em;
        right:0;
        z-index: 3;
        flex-direction: column;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        padding: 0.25em;
        flex-direction: column;
    }

    .port-projects {
        gap: 0.25rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .hamburger-menu li {
        border-bottom: 0.05em solid white;
        margin-bottom: 0.75em;
    }

    .filler {
        max-height: 5rem;
    }

    .tech-photo {
        width: 3.5rem;
        align-self: center;
    }

    .tech-grid {
        grid-template-columns: repeat(6, 6em);
        row-gap: 1em;
        bottom-margin: 1em;
    }

    .tech-selector {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 800px) {
    .port-projects{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 500px) {
    html {
        font-size: var(--sm-screen-rem);
    }
    #portfolio-nav-container {
        min-height: 3.5rem;
    }

    .blogentry {
        min-width: 1em;
        margin: auto;
        height: auto;
    }
    .blog-title {
        font-size: 1.5rem;
        height: auto;
    }
    .blog-desc {
        font-size: 1rem;
    }
    .photo-container {
        flex-direction: column-reverse;
        gap: 0px;
    }
}

@media screen and (max-width: 450px) {
    .tech-grid {
        grid-template-columns: repeat(3, 5em);
    }
    .tech-highlight {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    .port-projects {
        gap: 0.25rem;
        grid-template-columns: repeat(2, 1fr);
    }
    #contributions {
        grid-template-columns: repeat(2, 12em);
    }
    .feature-title {
        font-size: 1.5rem;
    }
}
.hidden { /* This needs to be last otherwise display: value could be overwritten by later rule*/
    display: none;
    visibility: hidden;
}
